name: Call a reusable workflow and use its outputs

on:
  push:
    branches: [main]

jobs:
  job1:
    uses: kai-think-peach/github_actions_demo/.github/workflows/called-workflow.yml@main

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo ${{ needs.job1.outputs.firstword }} ${{ needs.job1.outputs.secondword }}
